# Vonage
VONAGE_API_KEY=ff261ddc
VONAGE_API_SECRET=lGKYe7LtDyFMcoOz
VONAGE_APPLICATION_ID=7e59865f-d02d-441c-9409-0ed517fcebd7
VONAGE_PRIVATE_KEY_PATH=./private.key
VONAGE_NUMBER=

# Vonage Callback URLs
VONAGE_MONITORING_CALLBACK=https://thbtechub.sbs/monitoring-event
VONAGE_RECORDING_CALLBACK=https://thbtechub.sbs/recording-event
VONAGE_BROADCAST_CALLBACK=https://thbtechub.sbs/broadcast-event
VONAGE_COMPOSER_CALLBACK=https://thbtechub.sbs/composer-event
VONAGE_CAPTIONS_CALLBACK=https://thbtechub.sbs/captions-event
VONAGE_SIP_MONITORING_CALLBACK=https://thbtechub.sbs/sip-monitoring-event

# Server
PORT=3039
BASE_URL=http://localhost:3039

# Web
VITE_API_URL=http://localhost:3039
VITE_VONAGE_API_KEY=ff261ddc
